extend layout

block content
	h1 Hello, #{name}!
	form(action='edit', method='POST')
				label Name:
					input(type='text', name='author' required)
				label Title:
					input(type='text', name='title' required)
				label Text:
					textarea(rows='10' cols='50' name='text' required)
				input(type='submit', value='Submit Post')