doctype html
html
	head
		title Hapi-Blogger
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="../public/css/style.css")

	body
		header
			.navbar.navbar-default
				ul.nav.nav-pills.coyote
					li.active(role='presentation')
						a(href='/') Home
					li.active(role='presentation')
						a(href='/profile') Profile
					li.active.pull-right(role='presentation')
						a(href='/logout') Logout

		.container
			block content

		footer
			.container
				p.text-muted Created by:
					a.text-muted(href='http://codependentfc.github.io/') Codependent