doctype html
html
	head
		title Hapi-Blogger
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

	body
		header
			.navbar.navbar-default
				ul.nav.nav-pills.nav-justified
					li.active(role='presentation')
					a(href='/') Home
				ul.nav.nav-pills.nav-justified
					li.active(role='presentation')
					a(href='/account') Profile
		
		.container
			block content

		footer
			.container
				p.text-muted Created by:
					a.text-muted(href='http://codependentfc.github.io/') Codependent